<html lang="en"><head>
	<meta charset="utf-8">
	<link rel="icon" type="image/png" href="#">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Travel Planner</title>

	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta name="viewport" content="width=device-width">


    <!-- Bootstrap core CSS     -->
    <link rel="stylesheet" href="/static//css/bootstrap.min.css">

    <!-- Animation library for notifications   -->
    <link rel="stylesheet" href="/static//css/animate.min.css">

    <!--  Light Bootstrap Table core CSS    -->
    <link rel="stylesheet" href="/static//css/light-bootstrap-dashboard.css">

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link rel="stylesheet" href="/static//css//demo.css">

    <!--     Fonts and icons     -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:400,700,300">
    <link rel="stylesheet" href="/static//css/pe-icon-7-stroke.css">

</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="purple">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="/admin" class="simple-text">
                    Travel Planner
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="/admin">
                        <i class="pe-7s-home"></i>
                        <p>Admin Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="/admin/users">
                        <i class="pe-7s-user"></i>
                        <p>Users</p>
                    </a>
                </li>
                <li>
                    <a href="/admin/trips">
                        <i class="pe-7s-note2"></i>
                        <p>Trips</p>
                    </a>
                </li>
                <li>
                    <a href="/admin/connections">
                        <i class="pe-7s-graph"></i>
                        <p>Connections</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Admin</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
								<p class="hidden-lg hidden-md">Dashboard</p>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                           <a href="">
                               <p>Account</p>
                            </a>
                        </li>
                        <li>
                            <a href="/logout">
                                <p>Log out</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="card">
                <a href="/admin/users/new" class="btn" role="button">Add User</a>
                <a href="/admin/users/sort/admin" class="btn" role="button">Admin</a>
                <a href="/admin/users/sort/moderator" class="btn" role="button">Moderator</a>
                <a href="/admin/users/sort/user" class="btn" role="button">User</a>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th colspan="2">Action</th>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Address</th>
                            <th>City</th>
                            <th>Country</th>
                            <th>Birthdate</th>
                            <th>Contact Number</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    {% for r in result %}
                    <tbody>
                        <tr>
                            <td><a href="/admin/users/edit/{{r.username}}">Edit</a></td>
                            <td><a href="/admin/users/remove/{{r.username}}">Delete</a></td>
                            <td>{{r.id}}</td>
                            <td>{{r.username}}</td>
                            <td>{{r.email}}</td>
                            <td>{{r.role_id}}</td>
                            <td>{{r.first_name}}</td>
                            <td>{{r.last_name}}</td>
                            <td>{{r.address}}</td>
                            <td>{{r.city}}</td>
                            <td>{{r.country}}</td>
                            <td>{{r.birth_date}}</td>
                            <td>{{r.contact_num}}</td>
                            <td>{{r.description}}</td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>




    <!--   Core JS Files   -->
    <link rel="stylesheet" type="text/javascript" href="/static//js/jquery-1.10.2.js">
    <link rel="stylesheet" type="text/javascript" href="/static//js/bootstrap.min.js">

	<!--  Checkbox, Radio & Switch Plugins -->
    <link rel="stylesheet" href="/static//js/bootstrap-checkbox-radio-switch.js">

    <!--  Google Maps Plugin    -->
    <link rel="stylesheet" type="text/javascript" href="https://maps.googleapis.com/maps/api/js?sensor=false">

</body>
</html>
