<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>{{ title }}</title>

        <!-- Common plugins -->4
        <link rel="stylesheet" href="{{ url_for('.static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('.static', filename='css/simple-line-icons.css') }}">
        <link rel="stylesheet" href="{{ url_for('.static', filename='css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('.static', filename='css/pace.css') }}">
        <link rel="stylesheet" href="{{ url_for('.static', filename='css/landing-style.css') }}">
        <link rel="stylesheet" href="{{ url_for('.static', filename='css/help.css') }}">
        <link rel="stylesheet" href="{{ url_for('.static', filename='css/sweetalert.css') }}">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="float-landing" data-spy="scroll" data-offset="70" data-taget=".navbar-default">
        <!-- Static navbar -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">TravelPlanner</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav  smooth-scroll navbar-right">
                        <li class="active"><a href="#intro">Intro</a></li>
                        <li><a href="#features">Features</a></li>
                        <li><a href="#pricing">Trip Plans</a></li>
                        <li><a href="#team">Team</a></li>
                        <li><a href="#contact">Response</a></li>
                        <li class="nav-button"><a href="{{ label[2] }}">{{ label[0] }}</a></li>
                        <li class="nav-button"><a href="{{ label[3] }}">{{ label[1] }}</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>

        <!--intro section-->
        <section id="intro" class="intro-section">            
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h1>Best choice for your web app. Simple and Clean Boostrap admin template </h1>
                        <p>
                            Float is a simple and flat design bootstrap3 template, Its include tons of UI elements, SASS files for easy customization, 60+ ready to use pages, 40+ Powerful plugins, Light & dark, horizontal navigation styles and custom widgets. All of these awesome features allows you to create any type of web applications.
                        </p>
                        <div class="buttons smooth-scroll">
                            <a href="#features" class="btn btn-white btn-lg btn-rounded">Learn More</a>
                            <a href="/register" class="btn btn-link btn-lg">Register for free</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--intro section-->


        <!--features section-->
        <section id="features" class="features-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <h1 class="center-title"><span class="text-indigo">Many features</span> to discover with TravelPlanner</h1>
                        <p class="subtitle">
                            TripPlanner is not just your ordinary planner, but something innovational which aims to meet authentic demands from users like you, whose looking for a new taste of adventure.
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-center">
                        <i class="fa fa-user fa-4x text-primary"></i>
                        <h4 class="text-primary">Have Your Own Account</h4>
                        <p>
                            Customize your own account to your own liking, add friends, connect with friends, plan your trips and enjoy more acccessible features.
                        </p>
                    </div>
                    <div class="col-sm-4 text-center">
                        <i class="fa fa-suitcase fa-4x text-teal"></i>
                        <h4 class="text-teal">Plan Your Trips</h4>
                        <p>
                            As a registered user, you have the freedom to plan trips and to save those information to your own accounts.
                        </p>
                    </div>
                    <div class="col-sm-4 text-center">
                        <i class="fa fa-plus fa-4x text-indigo"></i>
                        <h4 class="text-indigo">Add Iteneraries to your Trips</h4>
                        <p>
                            For all trips created by registered user, he/she can add iteneraries of his/her own choice.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-center">
                        <i class="fa fa-share-square fa-4x text-warning"></i>
                        <h4 class="text-warning">Share with Friends</h4>
                        <p>
                            As a registered user, you are given the privallage to share your planned trips with your TripPlanner Friends.
                        </p>
                    </div>
                    <div class="col-sm-4 text-center">
                        <i class="fa fa-newspaper-o fa-4x text-teal"></i>
                        <h4 class="text-teal">View Other Trip Plans</h4>
                        <p>
                            Another privallage, is that not only you can view your own planned trips but you can view freely other peoples' trips.
                        </p>
                    </div>
                    <div class="col-sm-4 text-center">
                        <i class="fa fa-search fa-4x text-danger"></i>
                        <h4 class="text-danger">Discover New Places and Informations</h4>
                        <p>
                            As you go on your planning and looking at other peoples' trips, you will discover informations that will be usefull for your next trips.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!--end features section-->



        <!--pricing section-->
        <section id="pricing" class="pricing-section">
            <div class="container">

                <div class="row">
                    <div class="text-center">
                        <h2>All Created Trip Plans</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group" id="adv-search">
                                    <input type="text" class="form-control" name="searchbar" placeholder="Search for snippets">
                                    <div class="input-group-btn">
                                        <div class="btn-group" role="group">
                                            <div class="dropdown dropdown-lg">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                                                <div class="dropdown-menu dropdown-menu-right" role="menu">
                                                    <form class="form-horizontal" role="form" name="form1" action="/main/trip-plans/filtered_result" method="get">
                                                      <div class="form-group">
                                                        <label for="filter">Filter by</label>
                                                        <select class="form-control" id="filterOptions" name="option" required>
                                                            <option value="all-trips" selected>All Trips</option>
                                                            <option value="most-popular">Most popular</option>
                                                            <option value="newest-trip-plans">Newest</option>
                                                        </select>
                                                      </div>
                                                      <div class="form-group">
                                                        <label for="contain">Country</label>
                                                        <input class="form-control" type="text" name="country" required>
                                                      </div>
                                                      <div class="form-group">
                                                        <label for="contain">City</label>
                                                        <input class="form-control" type="text" name="city" required>
                                                      </div>
                                                      <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                                    </form>
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-primary" onclick="return_Result();"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                     </div>
                </div>

                
               <br><br>
                <div class="row">
                    <h3>Featured Trips</h3>
                    <div>
                        {% for trip in trips.items %}
                        <div class="col-sm-3 text-center">
                            <div class="container" style="display:inline; width:100%;">
                                <div class="panel panel-default bootcards-media" style="width:100%;"> 
                                    <div class="panel-heading" align="left" style="width: 100%;">{{ trip.tripName }}</div>
                                    <div class="panel-body" style="width: 100%; height: 100%;" align="center">
                                    <img style="height: 100%; width: 100%; object-fit:contain;" src="https://i.ytimg.com/vi/QGiJFumHUPo/maxresdefault.jpg"/></div>
                                    <div class="panel-footer" align="left" style="display: inline-block; width: 100%;">
                                        <div class="row">
                                            &nbsp; From: {{ trip.tripDateFrom }} 
                                            <a href="/main/view/{{ trip.tripName }}" target="_blank" class="btn btn-primary" style="float: right;">View Trip</a>
                                        </div>
                                        <div class="row">
                                            &nbsp; To: {{ trip.tripDateTo }}
                                            &nbsp; {{ trip.viewsNum }} views
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="row">
                    <h3>Newest Trip Plans</h3>
                    <div class="button-bar">
                            <a id="a" class="btn btn-primary btn-arrow-left" onclick="res_1();" href="javascript:void(0)"><i class="fa fa-chevron-left" aria-hidden="true"></i></a> 
                            <a id="a" class="btn btn-primary btn-arrow-right" onclick="res();" href="javascript:void(0)"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                            <div align="right">
                                <a href="/main/trip-plans/newest-trip-plans" target="_blank"><font size="3">See all&rarr;</font></a>
                            </div>
                    </div>
                    <div id="res">
                        {% for trip in trips.items %}
                        <div class="col-sm-3 text-center">
                            <div class="container" style="display:inline; width:100%;">
                                <div class="panel panel-default bootcards-media" style="width:100%;"> 
                                    <div class="panel-heading" align="left" style="width: 100%;">{{ trip.tripName }}</div>
                                    <div class="panel-body" style="width: 100%; height: 100%;" align="center">
                                    <img style="height: 100%; width: 100%; object-fit:contain;" src="https://i.ytimg.com/vi/QGiJFumHUPo/maxresdefault.jpg"/></div>
                                    <div class="panel-footer" align="left" style="display: inline-block; width: 100%;">
                                        <div class="row">
                                            &nbsp; From: {{ trip.tripDateFrom }} 
                                            <a href="/main/view/{{ trip.tripName }}" target="_blank" class="btn btn-primary" style="float: right;">View Trip</a>
                                        </div>
                                        <div class="row">
                                            &nbsp; To: {{ trip.tripDateTo }}
                                            &nbsp; {{ trip.viewsNum }} views
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="row">
                    <h3>Most Popular</h3>
                    <div class="button-bar">
                            <a id="a" class="btn btn-primary btn-arrow-left" onclick="res_1_m();" href="javascript:void(0)"><i class="fa fa-chevron-left" aria-hidden="true"></i></a> 
                            <a id="a" class="btn btn-primary btn-arrow-right" onclick="res_m();" href="javascript:void(0)"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                            <div align="right">
                                <a href="/main/trip-plans/most-popular" target="_blank"><font size="3">See all&rarr;</font></a>
                            </div>
                    </div>
                    <div id="res_1">
                        {% for trip in trips_m.items %}
                        <div class="col-sm-3 text-center">
                            <div class="container" style="display:inline; width:100%;">
                                <div class="panel panel-default bootcards-media" style="width:100%;"> 
                                    <div class="panel-heading" align="left" style="width: 100%;">{{ trip.tripName }}</div>
                                    <div class="panel-body" style="width: 100%; height: 100%;" align="center">
                                    <img style="height: 100%; width: 100%; object-fit:contain;" src="https://i.ytimg.com/vi/QGiJFumHUPo/maxresdefault.jpg"/></div>
                                    <div class="panel-footer" align="left" style="display: inline-block; width: 100%;"> 
                                        <div class="row">
                                            &nbsp; From: {{ trip.tripDateFrom }} 
                                            <a href="/main/view/{{ trip.tripName }}" target="_blank" class="btn btn-primary" style="float: right;">View Trip</a>
                                        </div>
                                        <div class="row">
                                            &nbsp; To: {{ trip.tripDateTo }}
                                            &nbsp; {{ trip.viewsNum }} views
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </section>
        <!--end pricing section-->


        <!--team section-->
        <section id="team" class="team-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <h1 class="center-title"><span class="text-indigo">Creative team</span> behind TravelPlanner</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 margin-b-30">
                    </div>
                    <div class="col-sm-4 margin-b-30">
                        <img style="height: 30%; width: 30%; object-fit:contain;" src="https://cdn1.iconfinder.com/data/icons/ninja-things-1/1772/ninja-simple-512.png" alt="" class="img-circle">
                        <h4>Malik Maulana</h4>
                        <p>
                            Adviser<br>Mindanao State University-Iligan Institute of Technology
                        </p>
                    </div>
                    <div class="col-sm-4 margin-b-30">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 margin-b-30">
                        <img style="height: 30%; width: 30%; object-fit:contain;" src="https://cdn1.iconfinder.com/data/icons/ninja-things-1/1772/ninja-simple-512.png" alt="" class="img-circle">
                        <h4>Seanne Canoy</h4>
                        <p>
                            BSCS-III Student<br>Mindanao State University-Iligan Institute of Technology
                        </p>
                    </div>  
                    <div class="col-sm-4 margin-b-30">
                        <img style="height: 30%; width: 30%; object-fit:contain;" src="https://cdn1.iconfinder.com/data/icons/ninja-things-1/1772/ninja-simple-512.png" alt="" class="img-circle">
                        <h4>Joanna Ompoc</h4>
                        <p>
                            BSCS-III Student<br>Mindanao State University-Iligan Institute of Technology
                        </p>
                    </div>  
                    <div class="col-sm-4 margin-b-30">
                        <img style="height: 30%; width: 30%; object-fit:contain;" src="https://cdn1.iconfinder.com/data/icons/ninja-things-1/1772/ninja-simple-512.png" alt="" class="img-circle">
                        <h4>Chezl Van</h4>
                        <p>
                            BSCS-IV Student<br>Mindanao State University-Iligan Institute of Technology
                        </p>
                    </div>  
                </div>
                <div class="row">
                    <div class="col-sm-4 margin-b-30">
                        <img style="height: 30%; width: 30%; object-fit:contain;" src="https://cdn1.iconfinder.com/data/icons/ninja-things-1/1772/ninja-simple-512.png" alt="" class="img-circle">
                        <h4>Shealtiel Cañon</h4>
                        <p>
                            BSCS-III Student<br>Mindanao State University-Iligan Institute of Technology
                        </p>
                    </div>  
                    <div class="col-sm-4 margin-b-30">
                        <img style="height: 30%; width: 30%; object-fit:contain;" src="https://cdn1.iconfinder.com/data/icons/ninja-things-1/1772/ninja-simple-512.png" alt="" class="img-circle">
                        <h4>Dexter Esin</h4>
                        <p>
                            BSCS-IV Student<br>Mindanao State University-Iligan Institute of Technology
                        </p>
                    </div>  
                    <div class="col-sm-4 margin-b-30">
                        <img style="height: 30%; width: 30%; object-fit:contain;" src="http://img.clipartall.com/45360730647c1f25009879900520a7-mad-scientist-clipart-2850_2667.jpg" alt="" class="img-circle">
                        <h4>Earl Mark E. Barangot</h4>
                        <p>
                            BSCS-III Student<br>Mindanao State University-Iligan Institute of Technology
                        </p>
                    </div>  
                </div>
            </div>
        </section>
        <!--end team section-->


        
        <!--contact-->
        <section id="contact" class="contact-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <h1 class="center-title"><span class="text-indigo">Connect with us</span> anytime</h1>
                        <p class="subtitle">
                            Please send us messages if ever there are concerns that you want to clarify or add.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="row">
                            <div class="col-sm-6 margin-b-30">
                               <form role="form" onSubmit="return false;">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" id="name" name="resID" class="form-control" placeholder="John Doe" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" id="email" name="resEMAIL" class="form-control" placeholder="john@doe.com" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="message">Message</label>
                                        <textarea id="message"  name="resMSG" class="form-control" rows="5" placeholder="Lorem ipsum dolor..." required></textarea>
                                    </div>
                                    <input type="submit" value="Send Message" class="btn btn-indigo btn-rounded btn-lg" onclick="sendMail();">
                                </form>
                            </div>
                            <div class="col-sm-6 margin-b-30">
                                <address>
                                    <strong><span class="navy">TravelPlanner, 2017.</span></strong><br>
                                    Andres Bonifacio Avenue, Tibanga, 9200<br>
                                    Iligan City, Philippines<br>
                                </address>
                                <ul class="list-inline">
                                    <li><a href="http://www.github.com/shannnnn/travelplanner" target="_blank"><i class="fa fa-github"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--end contact-->

        <footer class="footer">
            <div class="container text-center">
                <span>&copy; Copyright 2016-2017. Float Admin</span>
            </div>
        </footer>

        <!--Common plugins-->
        <script type="text/javascript" src="{{ url_for('.static', filename='js/jquery.min.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('.static', filename='js/bootstrap.min.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('.static', filename='js/help.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('.static', filename='js/sweetalert.min.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('.static', filename='js/pace.min.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('.static', filename='js/landing.custom.js') }}"></script>
        
        <script type="text/javascript" src="{{ url_for('.static', filename='js/maintainscroll.jquery.min.js') }}"></script>
    </body>
</html>
